
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/



p, h1, h2, h3, h4, h5, h6,col, colgroup, tbody, thead, tfoot, tr, th, td
{
    text-align: justify;
}



div
{
direction:ltr;
}

form label {
	display: block;
	margin-left: 0px;
	font-size: 12px;
}
label.error { float: top; color: blue; padding-left: .5em; vertical-align: top; }


body {
	text-align: center;margin: 0 auto;
	padding: 0;
	background: #FF6200  repeat-x left top; /*url(images/img02.jpg)*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #402C16;
}
/*
 input.button {

   font-size:13px;
   color:#FFFFFF; 
   font-family:Arial,sans-serif;
   height:26px;
   background-color:#779999;
   background-image:url(images/back03.gif);
   border-style:solid;
   border-color:#FFFFFF;
   border-width:1px;
}*/
input{
   background-color:#FFF5D6;
}
textarea{
   background-color:#FFF5D6;  
}
h5 {
    	margin: 0;
		padding: 0;
        font-family: Arial;
		font-size: 13px;
		color: #000000;
		line-height: 150%;
}
h6 {
    	margin: 0;
	padding: 0;
        font-family: Arial;
	font-size: 14px;
	font-weight: bald;
	color: #FF6200;
		line-height: 150%;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: BALD;
	color: #565656;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.0em;
}

p{
	margin: 10px;
	padding: 0;
        font-family: Arial;
	font-size: 13px;
	color: #000000;
	line-height: 150%;
}
 ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #B94E0E;
}

a:hover {
	text-decoration: none;
        color: #B94EEE;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 180px;
	
}

#header {
	width: 960px;
	height: 180px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 145px;
	margin: 0;
	padding: 0px;
	color: #FFFFFF;
        background: url(images/logo.png) no-repeat left top;
        background-position:0px 0px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-top: 80px;
	padding-left: 125px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px; 
        color: #FFFFFF;
        text-shadow: #808080 -1px 1px 2px;
}

#logo p {
	float: left;
        margin: 0;
	padding-top: 110px;
	padding-left: 10px;
        text-shadow: #808080 -1px 1px 2px;
	font: normal 16px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
        color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
        float: right;
	width: 1200px;
	margin: 0;
	padding: 0px 0px 0px 480px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 13px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: none;
	border: 2px solid #ffffff;
}

/* Page */

#page {
	text-align: left;
        width: 960px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img04.jpg) repeat-y left top;
        border-radius:12px;-moz-border-radius:12px;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 0px 0px 0px 0px;
}

#content img {
	border: none;
	}


.post {
	clear: both;
	padding-top: 0px;
	padding-bottom: 0px;
}

.post .title {
	letter-spacing: -1px;
}

.post .title a {
	color: #CA3D2F;
	border: none;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 0px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	padding: 0px 0px 0px 0px;
	color: #B94E0E;
}


#sidebarbg {
	float: left;
	width: 200px;
   padding:  10px 10px  15px 10px;
	background: url(images/sidebar_mid.png) repeat left top;
}
#sidebar_btm {
    
    padding:  10px 10px  10px 10px;
	background: url(images/sidebar_btm.png) no-repeat left bottom;
}
#sidebar_top {
    
    padding:  10px 10px  15px 10px;
	background: url(images/sidebar_top.png) no-repeat left bottom;
}

#sidebar_1 {
    padding:  10px 10px  10px 10px;
    background: url(images/sidebar1.png) no-repeat left bottom;
}
#sidebar_2 {
    padding:  10px 10px  15px 10px;
    background: url(images/sidebar2.png) no-repeat left bottom;
}
#sidebar_3 {
    padding:  10px 10px  15px 10px;
    background: url(images/sidebar3.png) no-repeat left bottom;
}
#sidebar_4 {
    padding:  10px 10px  15px 10px;
    background: url(images/sidebar4.png) no-repeat left bottom;
}
#track {
    height: 100px;
    padding:  0px 0px  0px 0px;
    background: url(images/trackbg.png) no-repeat left bottom;
}

#bodybg {
    text-align: left;
        width: 580px;
	margin: 0 auto;
	padding: 0;
        background: url(images/bodybg.png) repeat center bottom;
}
#bodybg p,h1,h2,h3,h4,h5,h6,table {
    margin-left: 10px;margin-right: 10px;
}
#body_btm {
    text-align: left;
        width: 580px;
	margin: 0 auto;
	padding: 0;
    background: url(images/body_btm.png) no-repeat center bottom;
}
#body_top {
   text-align: left;
        width: 580px;
	margin: 0 auto;
	padding: 0;
    background: url(images/body_top.png) no-repeat center bottom;
}


#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: url(images/img01.gif) no-repeat left 14px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	letter-spacing: -1px;
	font-size: 24px;
	color: #CA3D2F;
}
#sidebar h5 {
	height: 10px;
	margin-bottom: 20px;
	padding: 0px 0 0 0px;
	letter-spacing: 0px;
	font-size: 13px;
	color: #FF6200;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
		text-decoration: none;
		border: none;
        color:white; 
}

#sidebar a:hover {
	text-decoration: none;
        color:#B94EEE;
}

#login a {
		text-decoration: none;
		border: none;
        color:#FF6200; 
}
#login a:hover {
		text-decoration: none;
		border: none;
        color:#cc7200; 
}
/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-wrapper {
	height: 150px;
	background: url(images/img06.jpg) repeat-x left top;
}

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}
#sidebar_dynamic button {
    width:200px;
}
.toggler { width: 600px; position: relative; padding-bottom: 10px;}
.toggler2 { width: 600px;  position: relative; padding-top: 5px;}
.toggler3 { width: 500px; position: relative; padding-top: 5px;}
.toggler4 { width: 400px; position: relative; padding-top: 5px; padding-left: 15px; padding-right: 15px;}
#button { padding: .4em 1em; text-decoration: none; }
#effect { width: 600px; padding: 0.4em; position: relative;}
#effect2 { width: 600px;  padding: 0.4em; position: relative;}
#effect3 { width: 500px; padding: 0.4em; position: relative;}
#effect4 { width: 400px; padding: 0.4em; position: relative;}
#effect3 h4 { margin: 0; padding: 0.3em;}
#effect2 h3 { margin: 0; padding: 0.3em; }
#effect h3 { margin: 0; padding: 0.4em; font-size: 20px; text-align: center;}
#effect3 h3 { margin: 0; padding: 0.4em; font-size: 18px;}
#effect h4 { margin: 0; padding: 0.4em; text-align: center; }
#effect,  #effect3 h5 { margin: 0; padding: 0.3em; font-size: 16px;}
#toggler_contents {padding: 1.5em 0.5em 1.0em 0.5em;}
.ui-effects-transfer { border: 2px dotted gray; } 

#captcha 
{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 240px;
    margin:5px;
    padding: 1px;
    background-color: #FFFFFF; 
    border-radius:10px;-moz-border-radius:10px;    
}
#captcha p 
{
  padding-top: 3px;
  text-align: center;
}
#captcha a 
{
    color: blue;
    text-decoration: underline;
}
#captcha input {
    width: 70%;
}

#gallery
{
    padding-top: 5px; 
}
